################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPS/.vs/RPS
/Classes-Fields/.vs
/Shape-Calculator/.vs/Shape-Calculator
/Inventory-app/.vs/Inventory-app
